body {
	font-family: Cairo, sans-serif;
}

footer .container {
	margin-top: 100px;
}

.login {
	padding: 10px 20px;
	width: 40%;
	margin: 30px auto;
}

.login img {
	display: block;
	margin: auto;
}

.login li {
	color: red;
}

.title, .date, .body{
	text-align: justify;
	direction: rtl;
	font-family: inherit;
}

.comment {
/*
	border: 1px solid grey;
*/
/*
	border-radius: 0 10px 10px 0;
*/
	padding: 10px;
	width: 50%;
	margin: 10px 0;
}

.input-field {
	margin: 5px 0 0 0;
}

.date {
	font-size: .7em;
	direction: ltr;
	text-align: right
}

pre {
	font-family: inherit;
	white-space: pre-wrap;
}

