body {
	font-family: Cairo, sans-serif;
}

footer .container {
	margin-top: 100px;
}

.login {
	padding: 10px 20px;
	width: 40%;
	margin: 30px auto;
}

.login img {
	display: block;
	margin: auto;
}

.login li {
	color: red;
}

.title, .date, .body , textarea{
	text-align: justify;
	direction: rtl;
	font-family: inherit;
}

.date {
	font-size: .7em;
	direction: ltr;
	text-align: right
}

pre {
	font-family: inherit;
	white-space: pre-wrap;
}

