{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
	<a href="{{ url_for('index')}}" class="waves-effect waves-light left">All posts<i class="material-icons left">chevron_left</i></a>
	<h1 class="title">{{ post.title }}</h1>
	<p class="date">{{ post.date() }}</p>
	<p class="body">{{  post.body | safe}}</p>
	{% if current_user.is_authenticated %}
<!--
		<a href="{{ url_for('edit', post_id=post.id) }}" class="waves-effect waves-light btn left">Edit</a>
		<h5 style="color:#FF0000"><a href="{{ url_for('delete', post_id=post.id)}}" class="left" >Delete</a></h5>
-->
		<!-- Dropdown Trigger -->
		<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Options</a>

		<!-- Dropdown Structure -->
		<ul id='dropdown1' class='dropdown-content'>
			<li><a href="{{ url_for('edit', post_id=post.id) }}">Edit</a></li>
<!--
			<li><a href="{{ url_for('delete', post_id=post.id)}}">Delete</a></li>
-->
			<!-- Modal Trigger -->
			<li><a href="#confirm-delete" class="modal-trigger">Delete</a>

		</ul>
		
		<!-- Modal Structure -->
		<div id="confirm-delete" class="modal">
			<div class="modal-content">
				<p>Sure you wanna delete this precious post?</p>
			</div>
			<div class="modal-footer">
				<a href="{{ url_for('delete', post_id=post.id) }}" class="modal-close waves-effect waves-green btn-flat">Ok</a>
				<a href="" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
			</div>
		  </div></li>
	{% endif %}
	<hr>
	<h4>Comments</h4>
	<div class="comment-section">
		{% for comment in comments %}
			<div class="z-depth-1 comment">
				<h6>{{ comment.name }} <span class="date right">{{ comment.date() }}</span></h6>
				<p>{{ comment.body }}</p>
			</div>
		{% endfor %}
		<form method="POST">
			<div class="row">
				<div class="input-field col s4">
					<input type="text" name="name" id="name">
					<label for="name">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<script src="//cdn.ckeditor.com/4.9.2/basic/ckeditor.js"></script>
					
					<textarea id="body" name="body" class="materialize-textarea"></textarea>

				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<button class="btn waves-effect waves-light" type="submit" name="action">Send<i class="material-icons right">send</i></button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
