{% extends "base.html" %}

{% block title %}New Post{% endblock %}
{% block content %}
	<form method="POST">
		<div class="row">
			<div class="input-field col s4">
				<input id="title" type="text" name="title" value="{% block post_title%}{% endblock %}" class="title">
				<label for="title">Title</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="body" name="body" class="materialize-textarea body">{% block post_body%}{% endblock %}</textarea>
				<label for="body">Body</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<!-- <input type="submit" value="Submit" class="btn waves-effect waves-light">
				<i class="material-icons right">send</i> -->
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit 
					<i class="material-icons right">send</i>
  				</button>
				<a href="{% block return %}{{ url_for('index') }}{% endblock %}" >cancel</a>
			</div>
			
			
  </button>
        	
		</div>
	</form>
{% endblock %}
